body {
  margin: 55px;
  margin-top: 30px;
}
header p {
  margin: 0px;
}
h1 {
  text-align: left;
}
.title {
  font-size: 20px;
}
span {
  float: right;
}
.date {
  color: #236ab3;
  font-weight: bold;
}
.work {
  padding-bottom: 2px;
}
.lists {
  list-style: none;
  padding-left: 0px;
}
.name {
  font-size: 34px;
  font-weight: bold;
  padding-bottom: 6px;
  color: #2a77c5;
}
header ul {
  list-style: none;
  padding-left: 0px;
}
/*
form */
.row:before,
.row:after {
  content: " ";
  display: table;
}

/*
footer
*/
section {
  text-align: center;
}
.footer #button {
  width: 35px;
  height: 35px;
  border: #727172 12px solid;
  border-radius: 35px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.footer #button:hover {
  width: 35px;
  height: 35px;
  border: #3a3a3a 12px solid;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}
.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 2em;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
}
.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 10em;
}
.footer #container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #3a3a3a;
}
.footer #cont {
  position: relative;
  top: -45px;
  right: 190px;
  width: 150px;
  height: auto;
  margin: 0 auto;
}
.footer_center {
  width: 500px;
  float: left;
  text-align: center;
}
.footer h3 {
  font-family: "Helvetica";
  color: white;
  font-size: 30px;
  font-weight: 100;
  margin-top: 70px;
  margin-left: 40px;
}
