* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 80px;
  font-size: 20px;
  font-family: sans-serif;
}

.resume_pt1 {
  float: left;
  width: 60%;
}
.resume_pt2 {
  width: 40%;
  float: left;
}
.intro {
  padding: 20px;
  background-color: lightgreen;
}

.bio {
  background-color: lightblue;
  padding: 20px;
}
.skills_history {
  background-color: darkcyan;
}
.edu_history {
  background-color: darkcyan;
}
.work_history {
  background-color: darkgoldenrod;
}
ul {
  list-style: none;
}
